body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: sticky;
    top: 0;
    background-color: black;
    color:white;
}

/* ===== Aside ====== */

aside {
    background-color: rgb(241, 241, 241);
    padding: 1rem;
}

/* ===== logo and title ===== */

.logo-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1 {
    margin: 0;
}

/* ===== nav ====== */

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem 0;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.nav-button > button{
    width: 100%;
    height: 100%;
}

/* ====== general ===== */

a {
    text-decoration: none;
    color: black;
}

.section {
    margin-top: 15vh;
}

/* ===== main ====== */

/*main {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 4fr 1fr;
}*/

.main-content {
    padding: 1.25rem;
    margin-bottom: 2rem;
}


.aside-content {
    position: sticky;
    top: 5rem;
}
.aside-link:hover {
    border-radius: 7px;
    padding: 2px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.795);
    color: whitesmoke;   
}
   

/* ===== Category ===== */

.categories {
    text-align: center;
}

.category {
    padding: 5px;
    background-color: rgb(226, 204, 172);
    margin: 0.25rem;
}
.category:hover {

    background-color: rgb(155, 100, 55);
    color: white;
}

button {
    background-color: rgb(226, 204, 172);
}
button:hover {
    background-color: rgb(155, 100, 55);
    color: white;
}

/* ===== Sponsor ====== */

.sponsors {
    display: grid;
    text-align: center;
}

.sponsors > div {
    background-color: whitesmoke;
    margin: 2rem;
}

/* ===== Footer ====== */

#footer {
    background-color: rgb(31, 31, 31);
    color: white;

    padding: 2rem;
    text-align: center;
}

#footer > div {
    margin-bottom: 2rem;
}


/* ===== grid modifiers ===== */

.col-span-2 {

}

.row-span-2 {

}


/* ===== My Code ===== */
main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.categories {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.categoryrow-span-2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;

    padding: 5px;
    background-color: rgb(226, 204, 172);
    margin: 0.25rem;
}

.category1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    padding: 5px;
    background-color: rgb(226, 204, 172);
    margin: 0.25rem;
}

.category2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    padding: 5px;
    background-color: rgb(226, 204, 172);
    margin: 0.25rem;
}

.categorycol-span-2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    padding: 5px;
    background-color: rgb(226, 204, 172);
    margin: 0.25rem;
}

.category3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

    padding: 5px;
    background-color: rgb(226, 204, 172);
    margin: 0.25rem;
}

.category4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    padding: 5px;
    background-color: rgb(226, 204, 172);
    margin: 0.25rem;
}

.category5{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    padding: 5px;
    background-color: rgb(226, 204, 172);
    margin: 0.25rem;
}

.sponsors{
    display: grid;
    grid-template-columns: 6;
    column-gap: 2%;
}

.sponsor1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.col-span-2{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sponsor3{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.col-span-4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.col-span-5{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* footer --------------------- */

#footer{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.address{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.telno{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


.email{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.socials{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footerimage{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;   
}

/*------------------------------*/







